@media only screen and (max-width:812px) {
    .card{
        margin-top:auto;
        margin-top:3rem;
        display:block;
        width:100%;
    }
    mat-form-field{
        width: 100%;
    }
    button{
        width:100%;
        display: block;
        margin-top:0.5;
    }

}


@media only screen and (min-width:812px){
    .card{
        margin-top:auto;
        display:block;
        max-width:35%;
        margin-top:2rem;/* 5 × 16px = 80px */
        margin-left:35%;
    } 
    mat-form-field{
        width: 100%;
    }
    button{
        width: 100%;
        display:block;
        margin-top:0.5rem;
    }

}







