
<app-toolbar></app-toolbar>


<div class="card_main">

    <div class="icon_profile">
      <mat-card class="card_profile">
        <i class="fas fa-user-circle"></i>
        <button (click)="see_profile()" class="button_profile" mat-raised-button color="primary">ver perfil</button>
        <button (click)="view_saved_locations()" class="button_profile" mat-raised-button color="primary">ubicaciones guardadas</button>
        <button (click)="proveedores()" class="button_profile" mat-raised-button color="primary">Proveedores</button>
        <button (click)="insumos()" class="button_profile" mat-raised-button color="primary">Insumos</button>
      </mat-card>
    </div>

    <div class="icon_deliveries">
      <mat-card class="card_deliveries">
        <i class="fas fa-clipboard-list"></i>
        <button (click)="request_orders()" class="button_deliveries" mat-raised-button color="primary"> Solicitar pedidos</button>
        <button (click)="see_my_orders()" class="button_deliveries" mat-raised-button color="primary"> Ver mis pedidos</button>
      </mat-card>
    </div>

    <div class="icon_coupon_discount">
      <mat-card class="card_coupon">
        <i class="fas fa-qrcode"></i>
        <button (click)="coupon()" class="button_coupon" mat-raised-button color="primary">obtener cupon de descuento</button>
      </mat-card>
    </div>

</div>

    

  