
<div class="header">
  <app-toolbar></app-toolbar>
</div>


<div class="container">
  <div class="item">
    <mat-card >
      <div class="icon_profile">
        <i class="fas fa-user-circle"></i>
      </div>
      <div>
        <button (click)="see_profile()" 
          mat-raised-button 
          color="primary">
          mi perfil
        </button>
      </div>
      <div>
        <button (click)="link_your_emails()" 
          mat-raised-button 
          color="primary">
          vincula tu correos electrónicos          
        </button>
      </div>
    </mat-card>
  </div>
  <div class="item">
    <mat-card>
      <div class="icon_ubication">
        <i class="fas fa-map-marked-alt"></i>
      </div>
      <div>
        <button mat-raised-button
          (click)="view_saved_locations()"
          color="primary">
          mis ubicaciones
        </button>  
      </div>
    </mat-card>
  </div>
  <div class="item">
    <mat-card>
      <div class="icon_list">
        <i class="fas fa-clipboard-list"></i>
      </div>
      <div>
        <button (click)="request_orders()" 
          mat-raised-button color="primary"
          >
          Solicitar pedidos
        </button>
      </div>
      <div>
        <button (click)="see_my_orders()" 
          mat-raised-button 
          color="primary"> 
          Ver mis pedidos
        </button>
      </div>
    </mat-card>
  </div>
  <div class="item">
    <mat-card>
      <div class="icon_coupon">
        <i class="fas fa-qrcode"></i>
      </div>
      <div>
        <button 
          (click)="coupon()" 
          mat-raised-button 
          color="primary">
          obtener cupon de descuento
        </button>
      </div>
    </mat-card>
  </div>
 
</div >


<!--<div class="card_main">

    <div class="icon_profile">
      <mat-card class="card_profile">
        <i class="fas fa-user-circle"></i>
        <button (click)="see_profile()" class="button_profile" mat-raised-button color="primary">ver perfil</button>
        <button (click)="view_saved_locations()" class="button_profile" mat-raised-button color="primary">ubicaciones guardadas</button>
        <button (click)="postRegister()" *ngIf="this.isButtonVisible" class="button_profile" mat-raised-button color="primary">Terminar registro</button>
      </mat-card>
    </div>

    <div class="icon_deliveries">
      <mat-card class="card_deliveries">
        <i class="fas fa-clipboard-list"></i>
        <button (click)="request_orders()" class="button_deliveries" mat-raised-button color="primary"> Solicitar pedidos</button>
        <button (click)="see_my_orders()" class="button_deliveries" mat-raised-button color="primary"> Ver mis pedidos</button>
      </mat-card>
    </div>

    <div class="icon_coupon_discount">
      <mat-card class="card_coupon">
        <i class="fas fa-qrcode"></i>
        <button (click)="coupon()" class="button_coupon" mat-raised-button color="primary">obtener cupon de descuento</button>
      </mat-card>
    </div>

</div>-->

    

  