<div class="header">
    <app-toolbar></app-toolbar>
</div>

<div class="container">
    <div class="item">
        <mat-card>
            <div class="truck_icon">
                <i class="fas fa-truck "></i>
            </div>
            <div class="item_container">
                <div class="item_son">
                    <button 
                        mat-raised-button 
                        color="primary"
                        (click)="add_deliver_man()">
                        nuevo repartidor
                    </button>
                </div>
                <div class="item_son">
                    <button 
                        mat-raised-button 
                        color="primary"
                        (click)="list_deliver_man()">
                        listar repartidores
                    </button>
                </div>
            </div>
        </mat-card>

        <mat-card>
            <div class="icon-building">
                <i class="fas fa-building "></i>
            </div>
            <div class="item_container">
                <div class="item_son">
                    <button 
                        mat-raised-button 
                        color="primary"
                        (click)="proveedores()">
                        Proveedores
                    </button>
                </div>
                <div class="item_son">
                    <button 
                        mat-raised-button 
                        color="primary"
                        (click)="insumos()">
                        Insumos
                    </button>
                </div>
            </div>
        </mat-card>
    </div>

</div>