<html>
    <app-toolbar></app-toolbar>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    
    <div class="wrapper p-2">
        <div class="section-title text-center">
            <h4 class="text-uppercase">Agregando nueva ubicacion</h4>
            <button mat-raised-button color="primary" (click) = "setUbicacion()">
                <mat-icon matSuffix>add_location</mat-icon>
                Agregar nueva ubicación
            </button>
            <form [formGroup]="(formGroup)">
                <div style = "margin: 15px;">
                    <mat-form-field appearance="fill" style="font-size: 12px;">
                        <mat-label>direcion de envio </mat-label>
                        <input matInput formControlName="address">
                    </mat-form-field>
                </div>
            </form>
            <body>
                <div class="container">
                    <div class="item_1" id="map"></div>
                </div>
            </body>
        </div>
    </div>


