html {
    
     /**max-height: 100%;**/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    margin: 15px;
    padding: 0;
}
mat-form-field {
    width: 100%;
  }

#map{
    position: absolute;
    margin: 0px auto;
    top: 20% auto;
    left: 0%;
    right: 0%;
    bottom: 0px auto; 
    height: 40%;
    width: 80%;
}