html {
    background: url(../../assets/background.svg) no-repeat fixed center center #fff;
     /**max-height: 100%;**/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


@media only screen and (max-width:812px){
    .container{
        display: flex;
        flex-direction:column;
        justify-content:flex-start;
        width: 100%;
        height:100%;
    }
    .item_1{
        width:100%;
        display: flex;
        flex-direction:column;
        justify-content:flex-start;
    }
    .item_son_1{
        width:100%;
    }
    mat-form-field{
        width:100%;
    }
    .button_item{
        width:100%;
    }
    .item_2{
        width:100%;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }
    .card{
        width:100%;
    }
    .email_icon{
        font-size:25px;
    }
     
}
@media only screen and (min-width:812px){
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;  
    }
    .item_1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height:30%;
        width:25%;
        margin: 2px;
    }
    .card_item_1{
        width:100%;
    }
    .item_son_1{
        width:100%;
    }
    mat-form-field{
        width:100%;
    }
    .button_item{
        width:100%;
    }
    .item_2{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        margin:1px;
        height:30%;
        width:25%;
        margin:2px;
    }
    .card{
        width:100%;
    }
    .email_icon{
        font-size:25px;
    }
     
    
}