<div>
    <app-toolbar></app-toolbar>
</div>

<div class="container">
    <div class="item">
        <mat-card>
            <form>

                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>apellidos</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>phone_enabled</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Dirección electrónica</mat-label>
                   <input 
                        matInput 
                        placeholder="usuario@ejemplo.com" 
                    >
                   <mat-icon matSuffix>mail_outline</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input 
                        matInput 
                        [type]="hide ? 'password' : 'text'" 
                    >
                    <button 
                        mat-icon-button 
                        matSuffix (click)="hide = !hide" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>confirmar contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" >
                    <button 
                        mat-icon-button matSuffix 
                        (click)="hide = !hide" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <div class="container_buttons">
                    <div class="item_buttons">
                        <button
                            mat-raised-button color="primary">
                            Registrarse
                        </button>
                    </div>
                    <div class="item_buttons">
                        <button
                            mat-raised-button 
                            color="warn">
                            Cancelar
                        </button>
                    </div>
                </div>

            </form>
        </mat-card>
    </div>
</div>
