<h3>Actualizar informacion del proveedor</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Proveedor</label>
      <input type="text" class="form-control" id="nombre" required [(ngModel)]="supplier.nombre" name="nombre">
    </div>

    <div class="form-group">
      <label for="name">Correo</label>
      <input type="text" class="form-control" id="correo" required [(ngModel)]="supplier.correo" name="correo">
    </div>

    <div class="form-group">
      <label for="name">Telefono</label>
      <input type="text" class="form-control" id="telefono" required [(ngModel)]="supplier.telefono" name="telefono">
    </div>

    <div class="form-group">
      <label for="name">Dirección</label>
      <input type="text" class="form-control" id="direccion" required [(ngModel)]="supplier.direccion" name="direccion">
    </div>

    <button type="submit" class="btn btn-success">Actualizar</button>
    <button type="button" color="warning" class="btn btn-success" (click)="gotoList()">Regresar</button>
  </form>
</div>
