<html>
    <div class="header">
        <app-toolbar></app-toolbar>
    </div>

    <div class="card">
        <div class="card-header">
          lista de pedidos
        </div>
        <div class="card-body">
          <mat-card>
            <!--<img 
                style="width:100px; 
                height: 100px; margin:auto;" 
                src="https://www.flaticon.es/svg/static/icons/svg/1777/1777282.svg" alt=""
            >-->
          
            <img style="width:100px; height: 100px; margin:auto;" src="https://www.flaticon.es/svg/static/icons/svg/1777/1777282.svg" alt=""> <br>

           
            <br>
            hola mundo 
	        <br>
          </mat-card>
        </div>
      </div>
    

</html>



