<nav class="navbar navbar-dark bg-primary" >
    
    <div class="d-flex justify-content-sm-between" >
        <div class="order-sm-4" style="font-size: 20px;"><i class="fas fa-dolly-flatbed"></i></div>
    </div>
    
    <div class="d-flex justify-content-sm-between" >
        <div class="order-sm-4" style="font-size: 20px;"><i class="fas fa-map-marker-alt"></i></div> 
    </div>
    
    <div class="d-flex justify-content-sm-between">
        <div class="order-sm-4" style="font-size: 20px;"><i class="far fa-list-alt"></i></div>  
    </div>

    <div class="d-flex justify-content-sm-between">
        <div class="order-sm-4" style="font-size: 20px;"><i class="fas fa-user-alt"></i></div>
    </div>
      
</nav>