<html>
<app-toolbar></app-toolbar>

<div class="card">
    <mat-card>
        <div>
            <form (ngSubmit)="submitForm()">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>ingresa tu correo electronico</mat-label>
                        <input matInput placeholder="pat@example.com" [formControl]="email" required [value]="email_Value">
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                    <button type="submit" class="button_send_mail" mat-raised-button color="primary">Enviar correo</button> 
           </form>
        </div>
    </mat-card>
</div>

</html>


