
html {
    background: url(../../assets/background.svg) no-repeat fixed center center #fff;
     /**max-height: 100%;**/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    overflow-y: hidden;
    overflow-x: scroll;
    overflow-x: hidden;
 }


@media only screen and (max-width:812px){
    .container{
        display: flex;
        flex-direction:row;
        align-items:flex-start;
        width:100%;
        
    }
    .item{
        margin-top: 25%;
        width:100%;
        border: gray ;
    }
    mat-form-field{
        width: 100%;
    }
    button{
        width: 100%;
        margin-top:2px;
    }

}

@media only screen and (min-width:812px){   
    .container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .item{
        width: 30%;
        margin-top:10%;
        border: gray 1px;
    }
    mat-form-field{
        width:100%;
    }
    button{
        width:100%;
        margin-top:2px;
    }
}

