<html>
    <div class="header">
        <app-toolbar></app-toolbar>
    </div>
    
    <div class="container">
        <div class="item">
            <mat-card>
                <form [formGroup]="profile" (ngSubmit)="submitForm()">
                    <mat-form-field appearance="fill">
                        <mat-label>dirección electrónica</mat-label>
                        <input 
                        matInput 
                        placeholder="usuario@ejamplo.com"
                        formControlName="email"
                        > 
                        <mat-icon matSuffix>mail_outline</mat-icon>
                        <mat-error *ngIf="isValidField('email')">
                            {{getErrorMessage("email")}}
                        </mat-error>
                    </mat-form-field>
                    <div>
                        <button type="submit" 
                            mat-raised-button 
                            color="primary">
                            Enviar me un correo
                        </button>
                    </div>
                </form>
                <div>
                    <button
                        type="button"
                        (click)="cancel()"
                        mat-raised-button 
                        color="warn">
                        cancelar
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</html>


