/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mt-1 {
    margin-top:10px;
}
.mt-2 {
    margin-top:20px;
}
.mt-3 {
    margin-top: 30px;
}

.mb-2 {
    margin-bottom: 20px;
}

.ml-2 {
    margin-left: 20px;
}
.p-2{
    padding: 20px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.form-control {
    padding: 20px 25px;
    border:1px solid rgba(0,0,0,0.2) !important;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}