
<div>
    <app-toolbar></app-toolbar>
</div>

<div class="container">
    <div class="item">
        <mat-card>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="fas fa-user icon_user"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>alexis perez gomez</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="far fa-envelope icon_email"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>alexisperezgomez1@gmail.com</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="fas fa-mobile-alt icon_mobile"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>9614465502</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <button 
                    mat-raised-button 
                    color="warn"
                    (click)="delete()">
                    eliminar repartidor
                </button>
            </div>
        </mat-card> 
    </div>
    <div class="item">
        <mat-card>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="fas fa-user icon_user"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>alexis perez gomez</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="far fa-envelope icon_email"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>alexisperezgomez1@gmail.com</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="fas fa-mobile-alt icon_mobile"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>9614465502</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <button 
                    mat-raised-button 
                    color="warn"
                    (click)="delete()">
                    eliminar repartidor
                </button>
            </div>
        </mat-card> 
    </div>
    <div class="item">
        <mat-card>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="fas fa-user icon_user"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>alexis perez gomez</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="far fa-envelope icon_email"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>alexisperezgomez1@gmail.com</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="fas fa-mobile-alt icon_mobile"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>9614465502</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <button 
                    mat-raised-button 
                    color="warn"
                    (click)="delete()">
                    eliminar repartidor
                </button>
            </div>
        </mat-card> 
    </div>
    <div class="item">
        <mat-card>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="fas fa-user icon_user"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>alexis perez gomez</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="far fa-envelope icon_email"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>alexisperezgomez1@gmail.com</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="fas fa-mobile-alt icon_mobile"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>9614465502</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <button 
                    mat-raised-button 
                    color="warn"
                    (click)="delete()">
                    eliminar repartidor
                </button>
            </div>
        </mat-card> 
    </div>

    <div class="item">
        <mat-card>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="fas fa-user icon_user"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>alexis perez gomez</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="far fa-envelope icon_email"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>alexisperezgomez1@gmail.com</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <div class="item_container_son">
                    <i class="fas fa-mobile-alt icon_mobile"></i>
                </div>
                <div class="item_container_son">
                    <mat-card-subtitle>9614465502</mat-card-subtitle>
                </div>
            </div>
            <div class="item_container">
                <button 
                    mat-raised-button 
                    color="warn"
                    (click)="delete()">
                    eliminar repartidor
                </button>
            </div>
        </mat-card> 
    </div>
    

    

  
    
    
   
</div>