<html>
    <div>
        <app-toolbar></app-toolbar>
    </div>

    <div class="container">
        <div class="item" *ngFor="let deliverer of deliverers; index as i">
            <mat-card>
                <div class="item_container">
                    <div class="item_container_son">
                        <i class="fas fa-user icon_user"></i>
                    </div>
                    <div class="item_container_son">
                        <mat-card-subtitle>{{deliverer.name+" "+deliverer.lastName}}</mat-card-subtitle>
                    </div>
                </div>
                <div class="item_container">
                    <div class="item_container_son">
                        <i class="far fa-envelope icon_email"></i>
                    </div>
                    <div class="item_container_son">
                        <mat-card-subtitle>{{deliverer.email}}</mat-card-subtitle>
                    </div>
                </div>
                <div class="item_container">
                    <div class="item_container_son">
                        <i class="fas fa-mobile-alt icon_mobile"></i>
                    </div>
                    <div class="item_container_son">
                        <mat-card-subtitle>{{deliverer.phone}}</mat-card-subtitle>
                    </div>
                </div>
                <div class="item_container">
                    <button 
                        mat-raised-button 
                        color="warn"
                        (click)="delete()">
                        eliminar repartidor
                    </button>
                </div>
            </mat-card> 
        </div>  
    </div>
</html>